/* Fix the displaying of maps infowindows (due to conflict between bootstrap and maps APIs) */
img[src*="gstatic.com/"], img[src*="googleapis.com/"]  {
    max-width: 99999px;
}

.map_medium {
    width: 40%;
    height: 400px;
}

.map_accueil {
    margin: 30px auto auto auto;
}