<!DOCTYPE html>
<html ng-app>
<head>
    <title>Restaurants</title>

    <script src="js/lib/jquery.js"></script>
    <script src="js/lib/bootstrap.js"></script>

    <script src="js/lib/angular.min.js"></script>
    <script src="js/lib/angular-resource.min.js"></script>

    <!-- Scripts AngularJS -->
    <script src="js/controller/restaurantsCtrl.js"></script>

    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/bootstrap-responsive.css">
</head>
<body>
<div ng-controller="restaurantsCtrl">

    <div class="fluid-row">

        <div class="span7">

            <h3>My restaurants</h3>

            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="rest in restaurants">
                    <td>{{rest.id}}</td>
                    <td>{{rest.name}}</td>
                    <td>{{rest.address}}</td>
                    <td>{{rest.description}}</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="span5">

            <h3>New restaurant</h3>

            <form class="form-horizontal well" ng-submit="addRestaurant()">

                <div class="control-group">


                    <label class="control-label" for="name">Name :</label>
                    <controls>
                        <input type="text" placeholder="Name of the restaurant" ng-model="newName" name="name">
                    </controls>

                    <label class="control-label" for="address">Address :</label>
                    <controls>
                        <input type="text" placeholder="Postal address" ng-model="newAddress" name="address">
                    </controls>

                    <label class="control-label" for="description">Description :</label>
                    <controls>
                        <input type="text" placeholder="Small description" ng-model="newDescription" name="description">
                    </controls>

                    <button type="submit" class="btn btn-primary" >Add</button>
                </div>
            </form>
        </div>

    </div>
</div>
</body>
</html>